@tailwind base;
@tailwind components;
@tailwind utilities;

.arrow:after {
    content: '';
    position: absolute;
    margin-left: -12px;
    left: 50%;
    bottom: 0;
    width: 22px;
    height: 12px;
    background: url(/arrow.png);
}